body {
    background-color: black;
    border: 3px solid cyan;
}

h1 {
    color: cyan;
    text-align: center;
    background-color: rgba(240, 255, 255, 0.332);
    width: 300px;
    margin: 10px auto;
}

h2 {
    color: white;
    margin: 20px;
    text-align: center;
}

h2 b {
    color: cyan;
}

h2 b:hover {
    color: white;
}

h3 {
    color: white;
    text-align: center;
    margin: 20px;
}

h2:hover,
h3:hover {
    color: cyan;
}

h5 {
    color: cyan;
    text-align: right;
    margin: 10px;
}

hr {
    width: 90px;
    background-color: cyan;
}

figure.img1 {
    background: url(../imgs/img1.jpg) no-repeat center;
    width: 500px;
    height: 250px;
    margin: 0 auto;
    border: 2px dotted cyan;
}